/* Основной стиль для хедера */
header {
  background-color: #000; /* Темный фон */
  color: #fff; /* Белый текст */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Увеличенные вертикальные отступы */
  font-weight: 400;
  font-size: 0.9rem;
  height: 75px; /* Увеличенная высота хедера */
  box-sizing: border-box; /* Учитывает отступы в высоте */
}


header h1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.7rem;
  margin: 0;
}

header h1 img {
  width: 50px; /* Уменьшенный логотип */
  height: auto;
  margin-right: 8px;
}

/* Убираем подчеркивание для ссылки вокруг логотипа */
.logo-link {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет текста */
}

.logo-link:hover {
  text-decoration: none; /* Убирает подчеркивание при наведении */
  color: inherit; /* Сохраняет цвет текста */
}

/* Стили навигации */
nav ul {
  list-style: none;
  display: flex;
  gap: 15px; /* Расстояние между элементами */
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #41a53a;
}

.logout-button {
  border: none;
  background-color: #354d33;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  text-decoration: underline;
}

.logout-button:hover {
  color: #0056b3;
}
