/* header.css */

header {
  background-color: #000; /* Темный фон */
  color: #fff; /* Белый текст */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px; /* Уменьшенные вертикальные отступы для уменьшения высоты */
  font-weight: 400;
  font-size: 0.9rem;
  height: 50px; /* Фиксированная высота для хедера */
  box-sizing: border-box; /* Учитывает отступы в высоте */
}

header h1 {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

header h1 img {
  width: 25px; /* Уменьшенный логотип */
  height: auto;
  margin-right: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px; /* Расстояние между элементами */
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #41a53a;
}

/* Отступ для основного контента */
main {
  padding-top: 60px; /* Отступ на случай фиксированной высоты хедера */
}


.logout-button {
  border: none;
  background-color: #354d33;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  text-decoration: underline;
}

.logout-button:hover {
  color: #0056b3;
}
