.profile-customer-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile-customer-block:first-child {
    width: 300px;
  }
  
  .profile-customer-block:nth-child(2),
  .profile-customer-block:nth-child(3) {
    width: 400px;
  }
  
  .profile-customer-block {
    background-color: rgba(0, 0, 0, 0.67);
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    position: relative;
    padding-top: 30px;
    max-height: 500px;

  }
  .profile-customer-block:hover {
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .icon-pencil {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .user-icon {
    width: 150px;
  }
  
  .user-info {
    color: #ffffff;
  }
  
  .user-info h3 {
    margin-bottom: 10px;
  }
  
  .user-info p {
    margin-top: 0;
    font-size: 12px;
  }
  
  .links {
    text-align: center;
  }
  
  .reviews,
  .logout {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }
  
  .logout {
    margin: 30px 0 40px 20px;
    text-align: left;
  }
  .profile-customer-rating {
    width: 100px;
  }
  .profile-customer-second-block-header p {
    color: #ffffff;
  }
  .profile-customer-third-block-header p {
    color: #ffffff;
  }
  .wish-list {
    max-height: 350px;
    overflow-y: auto;
  }
  .my-orders {
    max-height: 270px;
    overflow-y: auto;
  }
  .my-orders-item {
    padding: 10px;
    margin: 10px auto;
    width: 250px;
    background-color: rgba(74, 74, 74, 0.6);
    border-radius: 10px;
    text-align: left;
    font-weight: 600;
    color: #ffffff;
  }
  .plus-wish-list {
    margin: 20px 0 15px 0;
    width: 20px;
    cursor: pointer;
  }
  .plus-my-orders {
    margin: 20px 0 15px 0;
    width: 20px;
    cursor: pointer;
  }
  .wish-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #072A01;
    border-radius: 5px;
    margin:10px;
    background-color:rgba(12,71,1, 0.5);
  }
  .wish-list-item:hover{
    background-color:rgba(19,119,2, 0.5);
  }
  
  .wish-list-image {
    width: 60px;
    height: 60px;
margin:0 10px 0 0;
    border-radius: 5px;
  }
  
  .wish-list-info h5 {
    margin: 0;
text-align:left;
    font-size: 16px;
    color: #ffffff;
  }
  
  .wish-list-info p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
  }
  