.profile-provider-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
  height: 60vh;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  box-sizing: border-box;
}

.block:first-child {
  width: 300px;
}

.block:nth-child(2) {
  width: 400px;
  /* height: 345px; */
}
.block:nth-child(3) {
  width: 400px;
}

.block {
  background-color: rgba(0, 0, 0, 0.67);
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: center;
  position: relative;
  padding-top: 30px;
  max-height: 400px;
}
.block:hover {
  background-color: rgba(10, 65, 1, 0.658);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-pencil {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-icon {
  width: 150px;
}

.user-info {
  color: #ffffff;
}

.user-info h3 {
  margin-bottom: 10px;
}

.user-info p {
  margin-top: 0;
  font-size: 12px;
}

.links {
  text-align: center;
}

.reviews,
.logout {
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.logout {
  margin: 30px 0 40px 20px;
  text-align: left;
}
.profile-provider-rating {
  width: 100px;
}
.second-block-header p {
  color: #ffffff;
}
.third-block-header p {
  color: #ffffff;
}
.my-services {
  max-height: 270px;
  overflow-y: auto;
}
.my-services-package {
  max-height: 270px;
  overflow-y: auto;
}
.my-service-item {
  padding: 10px;
  margin: 10px auto;
  width: 250px;
  background-color: rgba(74, 74, 74, 0.6);
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  color: #ffffff;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
}
.my-service-item:hover {
  background-color: rgba(116, 116, 116, 0.6);
}
.my-services-package-item {
  position: relative;
  padding: 10px;
  margin: 10px auto;
  width: 250px;
  background-color: rgba(74, 74, 74, 0.6);
  border-radius: 10px;
  text-align: left;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.my-services-package-item:hover {
  background-color: rgba(116, 116, 116, 0.6);
}
.plus-my-services {
  margin: 35px 0 15px 0;
  width: 20px;
  cursor: pointer;
}
.plus-my-services-package {
  margin: 20px 0 15px 0;
  width: 20px;
  cursor: pointer;
}

.profile-provider-reviews-section {
  padding: 20px;
  text-align: center;
  background-color: #000000;
  background-image: url("../assets/profile-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-provider-review-item:hover {
  background-color: rgba(10, 65, 1, 0.658);
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-provider-reviews-section h3 {
  color: #ffffff;
}

.profile-provider-reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.profile-provider-review-item {
  width: calc(25% - 20px);
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.67);
  border: 1px solid #ccc;
  text-align: left;
}

.profile-provider-review-item-main {
  display: flex;
  justify-content: space-between;
}

.profile-provider-review-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-provider-review-user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px 0 15px;
  border: 2px solid #fff;
}

.profile-provider-review-info {
  flex-grow: 1;
  margin: 15px 0 0 0;
}

.profile-provider-review-date {
  font-size: 12px;
  color: #bbb;
}

.profile-provider-review-rating-photo {
  width: 80px;
  margin: 20px 10px 0 0;
}

.profile-provider-review-text {
  text-align: left;
  margin: 15px;
}

.profile-provider-review-image {
  margin: 15px;
}

.profile-provider-review-service-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .profile-provider-review-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .profile-provider-review-item {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #ffffff;
}

.modal-content {
  background-color: #ffffff;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  color: black;
  box-sizing: border-box;
}
.modal-content form {
  background-color: #dbf7db;
  color: #000000;
  box-shadow: 3px 6px 15px rgba(86, 190, 83, 0.5);
}

.modal-content form input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #3c853a;
  color: #000;
  box-sizing: border-box;
  margin: 10px 0 0 0;
}
.modal-content form textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #3c853a;
  color: #000000;
  box-sizing: border-box;
  margin: 15px 0 0 0;
  resize: none;
}
.modal-content form input:focus {
  background-color: #56be53;
  outline: none;
}
.modal-content form textarea:focus {
  background-color: #56be53;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}
.arrow-my-services-package {
  width: 25px;
  height: 27px;
  cursor: pointer;
}
.check-mark-my-services-package {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.form-group label {
  color: #000000;
  text-align: left;
  display: block;
  font-size: 14px;
}

.form-group select {
  width: 100%;
  margin: 5px 0 0 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #4f6244;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-group select:focus {
  background-color: #43533b;
  border-color: #fff;
  outline: none;
}

.add-service-button {
  padding: 12px 20px;
  background-color: #6e8e3d;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0 0 0;
}

.add-service-button:hover {
  background-color: #5a7432;
}
.profile-provider-review-image {
  margin-top: 10px;
  text-align: left;
}

.profile-provider-review-service-image {
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
  border: 1px solid #fff;
}
.minus-my-services {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.minus-my-services-package {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.profile-provider-orders-section {
  padding: 50px 20px 20px 20px;
  text-align: center;
  background-color: #000000;
  background-image: url("../assets/profile-fon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.orders-section {
  background-color: rgba(0, 0, 0, 0.67);
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  max-height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0 10px 0;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 90px 0 90px;
}

.orders-section h3 {
  color: #ffffff;
  font-size: 16px;
  margin: 0 0 10px 0;
}

.orders-content {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orders-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.order-item {
  background-color: rgba(15, 98, 2, 0.658);
  color: white;
  padding: 10px;

  margin: 10px;
  max-width: 160px;
  box-sizing: border-box;
  border-radius: 10px;
  flex: 1 1 45%;
}
.order-item:hover {
  background-color: rgba(25, 163, 4, 0.473);
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .order-item {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
.order-detail-number {
  text-align: center;
}
.order-details {
  text-align: left;
  border-radius: 10px;
  margin: 10px;
  color: #000000;
  box-shadow: 3px 6px 15px rgba(55, 208, 49, 0.5);
}

.order-detail {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #3c853a;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.order-detail strong {
  color: #000;
  font-weight: bold;
}
