/* Общие стили для страницы */
.page-service {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    background-color: #000000;
    background-image: url('../assets/background-login.png'); /* Фон */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
  }
  
  .container-service {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Две колонки: информация и отзывы */
    gap: 20px;
    width: 100%; /* Занимает всю ширину страницы */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Левый блок информации */
  .info-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #035d0f;
  }
  
  .image-service {
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #035d0f;
    margin-bottom: 10px;
  }
  
  /* Уникальные стили для текста */
  .title-service {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px 0;
    text-align: center;
  }
  
  .florist-service {
    font-size: 16px;
    color: #cccccc;
    margin: 5px 0;
    text-align: center;
  }
  
  .rating-service {
    display: flex;
    gap: 5px;
    margin: 2px 0;
  }
  
  .price-service {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px 0;
    text-align: center;
  }
  
  .description-service {
    font-size: 14px;
    color: #dddddd;
    margin-top: 5px;
    text-align: justify;
  }
  
  /* Кнопка */
  .button-order {
    background-color: #4caf50;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    min-width: 200px;
    text-align: center;
  }
  
  .button-order:hover {
    background-color: #3ae342;
  }
  
  /* Правый блок для отзывов */
  .section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 15px;
    color: #dddddd;
  }
  
  .section-reviews h3 {
    margin-bottom: 10px;
  }
  