.services-container,
.packages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.services-page {
  width: 100%;
  height: auto;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  box-sizing: border-box;
  min-height: 80vh; /* Высота экрана */
}

.section-title {
  text-align: center;
  color: #ffffff;
}

.services-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 1px solid #116d03;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
  text-align: center;
}

.services-card:hover {
  transform: scale(1.05);
}

.services-photo {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.services-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.services-name {
  font-size: 16px;
  color: #ffffff;
  margin: 15px 0 0 0;
}

.services-supplier,
.services-rating,
.services-price {
  font-size: 14px;
  color: #eaeaea;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #116d03;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
  background-color: #158803;
  color: #fff;
}
.star-icon {
  margin-right: 2px;
}

.tab-button:hover {
  background-color: #127403;
  color: #fff;
}
.details-button {
  text-decoration: none;
  color: #dadada;
}
.services-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.services-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(21, 136, 3, 0.473);
}


.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 80%; /* Увеличенная ширина */
  padding: 10px;
  border: 2px solid #116d03;
  border-radius: 8px 0 0 8px; /* Скругление только слева */
  font-size: 16px;
  color: #ffffff;
  background-color: #0f790d8a; /* Цвет фона */
  transition: border-color 0.3s ease;
}

.search-input::placeholder {
  color: #ffffff; /* Цвет для placeholder */
}

.search-input:focus {
  outline: none; /* Убирает стандартный контур */
  border-color: #158803; /* Цвет границы при фокусе */
  background-color: #44ff3d9e; /* Более светлый фон при фокусе */
}

.filter-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: 2px solid #116d03;
  border-left: none;
  border-radius: 0 8px 8px 0; /* Скругление только справа */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #127403;
}
