.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  .services-page{
    width: 100%;
    height: 300vh;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    box-sizing: border-box;
  }
  .section-title{
    text-align:center;
    color:#ffffff;
  }
  .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
    transition: transform 0.2s;
    text-align: center;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-photo {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .service-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  
  .service-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .service-supplier,
  .service-rating,
  .service-price {
    font-size: 14px;
    color: #666;
  }
